* {
    margin: auto;
    padding: 5px;
}


h1 {
    text-align: center;
    font-family: 'Georgia';
    color: whitesmoke;
    background-color: rgb(205, 92, 171);
}

.hero {
    text-align: left;
    font-family: 'Georgia';
    font-size: 24px;
    font-weight: bold;
    
}

textarea {
    float: left;
    height: 20%;
    width: 40%;
}

.button {
    margin-top: 5px;
    padding: 10px;
    float: left;
    font-weight: bold;
    height: 20%;
    width: 10%;
    background-color:rgb(205, 92, 171);
}